body{
    font-family: 'Quicksand', sans-serif;
    background-color: #1c1c20;
}
.box_reservation{
    background-image: url("#");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.bg-form{    
    background-color: #faf4e9;
}

html,
body,
header,
.view {
  height: 100%;
}

@import url(//db.onlinewebfonts.com/c/ba69ea70a1f187353aa8dc0ff159cce9?family=Bellfort);
@import url(//db.onlinewebfonts.com/c/f74aa8714b210bf4e9b898056b9fb509?family=Rigatoni+Sans+Thin);
@import url(//db.onlinewebfonts.com/c/9e972508ce574c6c42f90006a9b7e18b?family=Dealer+Strikes+Straight);
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #ffffff !important;
}

.navbar:not(.top-nav-collapse) {
  background-image: url(/Herios/images/background_1920x80px-01.jpg) !important;
  background-color: black;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #495FA6 !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
.nav-item{
  font-family: 'Bellfort';
  font-size: 18px;
  padding-left: 0.7cm;
}
.line-break{
  border: 2px solid red;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #F6AE84 !important;
  border-color: #F6AE84 !important;
}

.box-content{
  padding-top: 2cm;
  height: 10cm;
  padding-bottom: 1cm;
}
a.title{
  font-family: 'Bellfort';
  color:#495FA6;
  font-size: 50px;

}
.homepage-title{
  padding: 1cm;
}
.her-story{
  padding-bottom: 2cm;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #F6AE84 !important;
  border-color: #F6AE84 !important;
}
div#story{
  width: 80%;
  padding: 10px;
  background-color: #F6AE84;
  border-radius: 50px 0px;
}
p#story-title{
  text-align: right;
  padding-right: 0.5cm;
  padding-top: 1cm;
  color:#495FA6;
  font-family: 'Bellfort';
  font-size: 30px;
}
p#story-content{
  text-align: right;
  padding-right: 0.5cm;
  padding-top: 0.2cm;
  color:#495FA6;
  font-family: 'SVN-Gilroy XLight';
  font-size: 12px; 
}

/*Footer*/
.style-footer{
  font-family: 'Bellfort';
}
.fb-ic{
  padding: 15px;
}
.tw-ic{
  padding: 15px;
}
.gplus-ic{
  padding: 15px;
}
.li-ic{
  padding: 15px;
}
.ins-ic{
  padding: 15px;
}
.menu-item{
  color:#495FA6;
  padding-top: 4cm;
}
.menu-name-item{
  font-size: 35px;
  font-family: 'Dealer Strikes Straight';
  padding-right: 2cm;
}
.menu-name-item-describe{
  font-family: 'Rigatoni Sans Thin';
  font-size: 20px;
  padding-right: 2cm;
}
.menu-item-sideright{
  border-left: 2px solid #F6AE84;
  padding-top: 2cm;
  padding-left: 2cm;
}

.reservation-content{
  filter: none !important;
}
img#myImg {
  filter:drop-shadow(8px 8px 10px gray);
}
