body {
    background-image: url(./img/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.account__avt {
    width: 50%;
}

.account__change:hover {
    text-decoration: none;
}