
html,
body,
header,
.view {
  height: 100%;
}

@import url(//db.onlinewebfonts.com/c/ba69ea70a1f187353aa8dc0ff159cce9?family=Bellfort);

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: #495FA6 !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #495FA6 !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
.nav-item{
  font-family: 'Bellfort';
  font-size: 20px;
  padding-left: 0.8cm;
}
.line-break{
  border: 2px solid red;
}

.box-content{
  padding-top: 2cm;
  height: 10cm;
}
a.title{
  font-family: 'Bellfort';
  color:#F6AE84;
  font-size: 50px;

}
.homepage-title{
  padding: 1cm;
}
.her-story{
  background-color:#F6AE84 ;
  
}