html,
body {
    background-image: url(./images/background.jpg);
    background-size: cover;
}

.card {
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    border: none;
    transition: all 0.5s;
}

.card:hover {
    background-color: #ccc;
}

aside h2 {
    font-size: 1em;
    text-align: center;
    padding: 8px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

aside ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

aside ul a:hover {
    text-decoration: none;
}

.picture {
    width: 10px;
}

.col {
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #EBEBEB;
}

.cart {
    background-color: cornsilk;
}

.cart-name-food {
    text-align: center;
}

.total_price {
    text-align: center;
}

.price {
    border: 1px solid black;
    margin-right: 5px;
    text-align: center;
}

.btn {
    color: black;
}