html,
body {
    background-image: url(./images/background.jpg);
}

.card {
    margin-bottom: 20px;
    text-align: center;
    border: none;
    transition: all 0.5s;
    background-color: wheat;
    background-image: url(./images/background.jpg);
    background-position: left;
}

.card:hover {
    background-color: #ccc;
}

aside h2 {
    font-size: 1em;
    background-color: #EBEBEB;
    text-align: center;
    padding: 8px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}

aside ul {
    list-style: none;
    padding-left: 0;
}

aside ul a:hover {
    text-decoration: none;
}